<!doctype  html>

<html>
    <head>

    <title>  wellcome</title>

        <meta charset="utf-8">
        <link rel="icon" href="img/">
        <link rel="stylesheet"  href="css/bootstrap.css">
        <link rel="stylesheet"  href="css/mycss.css">
        <link rel="stylesheet"  href="css/animate.css">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--IE-->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!--FOR mobile-->

    
    </head>
    
    
    <!------------------------------------------------------------>
    
    
    <body>
      <br>  
      <h1> <center> WELLCOME  </center> </h1>
      <p class="message"><%=checkSign%>  <%=test%> </p> <p> </p>



      <div class="container">
        <section class="sign">
          <form method="post" enctype="multipart/form-data" >


            <div class="form-group ">
              <h2 style="text-align: center;">Frist name</h2>
              <input  type="text"  name="frist_name" id ="input-btn"  class="form-control" placeholder="frist name">
            </div>


            <div class="form-group " >  
              <h2 style="text-align: center;"> Last name </h2>
              <input type="text"  name="last_name" class="form-control" id ="input-btn"  placeholder="last name" >
            </div>
 


            <div class="form-group " >  
              <h2 style="text-align: center;">Email</h2>
              <input type="email"  name="email" class="form-control" id ="input-btn"   placeholder="Email">
            </div>
           
            
            
            <div class="form-group " > 
              <h2 style="text-align: center;">Password</h2>
              <input type="password"   name="password" class="form-control" id ="input-btn"   placeholder="Password">
            </div>
            
            
            <div class="form-group " >
              <h2 style="text-align: center;"> birth day </h2>
              <input type="date"  name="birth_day" id ="input-btn"  class="form-control" >
            </div>
            
            
            <div class="form-group " > 
              <h2 style="text-align: center;">Adress</h2>
              <input type="text"  name="adress"  class="form-control" id ="input-btn"   placeholder="adress">
            </div>
            
            
            <div class="form-group " >
              <h2 style="text-align: center;">Image</h2>
              <input type="file" name="image"  id = "myimage"    class="form-control" ></div>
 


              <div class="form-group " >     
                <h2 style="text-align: center;">type </h2>
                <select name="type"  class="form-control" id ="input-btn">
                  <option value="male">male</option>
                  <option value="female">female</option>
                </select>
              </div>
              
              
              
              <button  id="loginbutton" type="submit"  name="sign"  class="btn btn-primary btn-lg btn-block">sign IN </button>

</form>
</section>
</div>
       


<script>

          
 <%console.log("jjjjkkkfdrrf");%>
        
  $('#myButton').on('click', function () {
    var $btn = $(this).button('loading')
    // business logic...
    $btn.button('reset')
  })
</script>
   
       <!-----------------------------------------------> 
    
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
        <script src="js/js.js"></script>  
    <script src ="js/wow.min.js"></script>
   <script> new WOW().init();</script>
    
    </body>



</html>

